<template>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M14.968 1.966a.75.75 0 0 0-.934-.934l-12.5 3.75a.75.75 0 0 0-.18 1.355L5.952 8.99l-1.731 1.73a.75.75 0 1 0 1.06 1.061l1.731-1.73 2.852 4.595a.75.75 0 0 0 1.355-.18l3.75-12.5zM8.101 8.96l2.159 3.48 2.417-8.056L8.1 8.96zm3.515-5.637L3.56 5.74 7.04 7.9l4.576-4.577z"
    />
  </svg>
</template>

<script>
export default {
  name: 'PaperAirplaneIcon',
};
</script>
