<script>
import { onUpdated, toRaw } from 'vue';
import AiGenieChatMessage from './components/AiGenieChatMessage.vue';
import PaperAirplaneIcon from './components/icons/PaperAirplaneIcon.vue';

const vscode = acquireVsCodeApi();

export default {
  name: 'GitLabDuoChat',
  components: {
    AiGenieChatMessage,
    PaperAirplaneIcon,
  },
  data() {
    return {
      chatMessages: [],
      promptDraft: null,
    };
  },
  created() {
    window.vsCodeApi = vscode;
    window.addEventListener('message', this.handleExtensionMessageEvent);
    window.vsCodeApi.postMessage({ command: 'appReady' });
  },
  onBeforeDestroy() {
    window.removeEventListener('message', this.handleExtensionMessageEvent);
  },
  mounted() {
    this.attachToVsCodeState();
  },
  methods: {
    handleExtensionMessageEvent(event) {
      const message = event.data;
      console.log('received', message);

      switch (message.eventType) {
        case 'focus': {
          this.focusInput();
          break;
        }
        case 'newRecord': {
          this.newRecord(message.record);
          break;
        }
        case 'updateRecord': {
          this.updateRecord(message.record);
          break;
        }
        default:
          console.log('Chat view received unexpected message type.');
          break;
      }
    },
    newRecord(record) {
      this.chatMessages.push(record);
      this.scrollBottom();
    },
    updateRecord(record) {
      const index = this.chatMessages.findIndex(r => r.id === record.id);

      this.chatMessages[index] = record;

      this.scrollBottom();
    },
    scrollBottom() {
      setTimeout(() => {
        window.scrollTo(0, document.body.scrollHeight);
      }, 20); // TODO: replace this hack with proper CSS.
    },
    attachToVsCodeState() {
      onUpdated(() => {
        window.vsCodeApi.setState({
          promptDraft: toRaw(this.promptDraft),
        });
      });

      const currentState = window.vsCodeApi.getState();
      if (currentState && currentState.promptDraft) {
        this.promptDraft = currentState.promptDraft;
      }
    },
    // form related stuff.
    submitPrompt() {
      window.vsCodeApi.postMessage({
        eventType: 'newPrompt',
        record: {
          content: this.promptDraft,
        },
      });
      this.promptDraft = null;
    },
    handleKeyPress(event) {
      if (event.key === 'Enter' && !event.shiftKey) {
        event.preventDefault();
        this.submitPrompt();
      }
    },
    focusInput() {
      this.$refs.promptTextarea.focus();
    },
  },
};
</script>
<template>
  <div id="app">
    <div class="header"><p>Responses generated by AI.</p></div>
    <div id="chatHistory">
      <ai-genie-chat-message v-for="message in chatMessages" :key="message.id" :message="message" />
    </div>
    <div class="footer">
      <div id="promptForm">
        <div>
          <textarea
            rows="1"
            placeholder="Ask a question"
            ref="promptTextarea"
            v-model="promptDraft"
            @keypress="handleKeyPress"
          ></textarea>
        </div>
        <div class="submit-button">
          <button type="submit" @click.prevent="submitPrompt">
            <paper-airplane-icon />
          </button>
        </div>
      </div>
      <div>
        <p>
          <small>
            May provide inappropriate responses not representative of GitLab's views. Do not input
            personal data.
          </small>
        </p>
      </div>
    </div>
  </div>
</template>
<style lang="scss">
:root {
  --font-family: var(--vscode-font-family);
}
* {
  box-sizing: border-box;
}
.header {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}
.footer {
  position: sticky;
  bottom: 0;
  border-top: 1px solid var(--vscode-sideBar-border);
  padding-top: 1rem;
  padding-bottom: 0.25rem;
  background-color: var(--vscode-sideBar-background);
}
#chatHistory {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#promptForm {
  max-width: 100%;
  min-height: 2.5rem;
  flex-grow: 1;
  box-shadow: inset 0 0 0 1px var(--vscode-input-border);
  border-radius: 0.25rem;
  vertical-align: top;
  position: relative;

  textarea {
    width: calc(100% - 40px);
    max-height: 240px;
    border-style: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    resize: none;
    height: 100%;
    padding: 0.75rem 0.5rem 0.75rem 0.5rem;
    box-shadow: none;
    border-radius: 0.25rem;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    background-color: transparent;
    outline: none;
    color: var(--vscode-editor-foreground);
  }

  .submit-button {
    display: flex;

    button {
      padding: 0.5rem;
      background-color: var(--vscode-button-background);
      box-shadow: inset 0 0 0 1px var(--vscode-button-border);
      color: var(--vscode-button-foreground);
      cursor: pointer;
      border-width: 0;
      flex-shrink: 0;
      border: none;
      border-radius: 0.25rem;

      position: absolute;
      bottom: 0.25rem;
      right: 0.25rem;

      svg {
        width: 16px;
        height: 16px;
        vertical-align: -3px;
        fill: currentColor;
      }
    }
  }
}
</style>
